body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    gap: 20px;
}
.add-word, .display-users{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    min-width: 400px;
    border: 1px solid black;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.form input{
    padding: 5px;
    font-size: medium;
}
.form > button{
    padding: 5px;
    font-size: medium;
}
