body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.title{
    font-size: 35px;
}
.form > form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.example-sentence, .polish-word{
    font-size: 18px;
}
.admin-info{
    color: red;
}
.correct-english-word, .polish-word, .admin-info{
    font-size: large;
}
.correct-english-word{
    font-weight: bold;
}
.input-words{
    padding: 5px;
    font-size: medium;
    min-width: 300px;
}
.submit-answer{
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: #FFFFCC;
    min-width: 300px;
}
.form{
    display: flex;
    flex-direction: center;
}