body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.user-info{
    font-size: large;
}
.button-to-log-out{
    padding: 5px;
    font-size: medium;
    margin-top: 20px;
}