<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/main_page.css') }}" rel="stylesheet">
    <title>Installing</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <h1 class="title">installing</h1>
            <span class="example-sentence">{{sentence_with_gap}}</span>
            <span class="polish-word">{{polish_word}}</span>
        </header>
        <div class="form">
            <form method="POST" action="/installing">
                <input class="input-words" name="word" type="text" placeholder="Odpowiedź">
                <button class="submit-answer" type="submit">Sprawdź</button>
            </form>
        </div>
    </div>
</body>
</html>